<button (click) = "getAllUsers()">users</button>
<button (click) = "getAllRecipes()">recipes</button>

<div>
  <h2>Пользователи</h2>
  <ul>
    <li *ngFor="let user of allUsers">
      {{ user.username }} ({{ user.firstName }})
      <button (click)="editUser(user)">Редактировать</button>
      <button (click)="deleteUser(user)">Удалить</button>
    </li>
  </ul>

  <h2>Рецепты</h2>
  <ul>
    <li *ngFor="let recipe of allRecipes">
      {{ recipe.title }}
      <button (click)="editRecipe(recipe)">Редактировать</button>
      <button (click)="deleteRecipe(recipe)">Удалить</button>
    </li>
  </ul>
</div>
  