<div class="tabs">

  <h2 class="admin_panel_title">Управление пользователями</h2>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)" #tabGroup>

    <mat-tab label="Панель администрирования">
      <ng-template matTabContent>
        <app-users *ngIf="tabGroup.selectedIndex === 0"></app-users>
      </ng-template>
    </mat-tab>
    
    <mat-tab label="Управление рецептами">
      <ng-template matTabContent>
        <app-recipes *ngIf="tabGroup.selectedIndex === 1"></app-recipes>
      </ng-template>
    </mat-tab>

  </mat-tab-group>

</div>