.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    border-radius: 8px;
    padding: 9px 17px;
    width: 140px;
    height: 38px;
    background: #3a3395;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    color: #fff;
    text-decoration: none;
  }