@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* src/app/app.component.css */

.stream-container {
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: 20px;
    width: 200px;
}
  