<div class="container">
  <button mat-raised-button color="primary" (click)="onClickBtn1()">Кнопка 1</button>
  <button mat-raised-button color="primary" (click)="onClickBtn2()">Кнопка 2</button>
  <button mat-raised-button color="primary" (click)="onClickBtn3()">Кнопка 3</button>
  <button mat-raised-button color="primary" (click)="onClickBtn4()">Кнопка 4</button>
  <button mat-raised-button color="primary" (click)="onClickBtn5()">Кнопка 5</button>
  <button mat-raised-button color="primary" (click)="onClickBtn6()">Кнопка 6</button>
  <button mat-raised-button color="primary" (click)="getResolve()">Кнопка 7</button>
</div>

<router-outlet></router-outlet>