<form class="container my-auto">
    <div class="mb-3">
      <label class="form-label">Имя автора</label>
      <input
        minlength="2"
        maxlength="10"
        pattern="[а-яА-ЯёЁ]*"
        required
        #Author="ngModel"
        name="name"
        [(ngModel)]="create_book.author"
        type="text"
        class="form-control"
      />
  
      <div *ngIf="Author.invalid && (Author.dirty || Author.touched)">
        <div *ngIf="Author.hasError('minlength')" class="alert alert-danger mt-2" role="alert">Минимальная длина должна быть более 2 символов</div>
        <div *ngIf="Author.hasError('required')" class="alert alert-danger mt-2" role="alert"> Поле необходимо заполнить</div>
        <div *ngIf="Author.hasError('pattern')" class="alert alert-danger mt-2" role="alert">Поле должно содержать только русские буквы</div>
      </div>
    </div>
  
    <div class="mb-3">
      <label class="form-label">Название книги</label>
      <input
        minlength="2"
        maxlength="10"
        pattern="[а-яА-ЯёЁ]*"
        required
        #Name="ngModel"
        name="name"
        [(ngModel)]="create_book.name"
        type="text"
        class="form-control"
      />
  
      <div *ngIf="Name.invalid && (Name.dirty || Name.touched)">
        <div *ngIf="Name.hasError('minlength')" class="alert alert-danger mt-2" role="alert">Минимальная длина должна быть более 2 символов</div>
        <div *ngIf="Name.hasError('required')" class="alert alert-danger mt-2" role="alert">Поле необходимо заполнить</div>
        <div *ngIf="Name.hasError('pattern')" class="alert alert-danger mt-2" role="alert">Поле должно содержать только русские буквы</div>
      </div>
    </div>

    <button [disabled]="Author.invalid || Name.invalid" (click)="createBook()" type="submit" class="btn btn-primary">Добавить</button>

  </form>
  
  <h1>Список книг</h1>
  
  <div>
    <table class="table table-striped container pt-10">
      <thead>
        <tr>
          <th scope="col">Номер</th>
          <th scope="col">Название книги</th>
          <th scope="col">Автор</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
        </tr>
      </tbody>
    </table>
  </div>