
.best_recipes {
  width: 100%;
  min-height: 893px;
  padding-bottom: 100px;
  padding-right: 80px;
  padding-left: 80px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d1d5db;
}

.best_recipes_info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 706px;
  height: 166px;
  margin: 0 auto;
  margin-bottom: 84px; 
}

.best_recipes_title {
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.04em;
  color: #000;
}

.best_recipes_subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  color: #606060;
}

.best_recipes_cards_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  width: 1280px;
}

.best_recipes_card {
  border-radius: 30px;
  width: 400px;
  height: 434px;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #e7f9fd 100%);
  padding: 24px;
}

.best_recipes_card_img {
  position: relative;
}


.best_recipes_card_img img{
  width: 368px;
  height: 250px;
  border-radius: 20px;
}

.best_recipes_card_like {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.best_recipes_card_name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: -0.04em;
  color: #000;
  padding-top: 24px;
  padding-bottom: 24px;
}

.best_recipes_card_info_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 24px;
  align-items: center;
}

.best_recipes_card_info_time_container {
  display: flex;
  flex-direction: row;
  gap: 13px; 
  height: 24px;
  align-items: center;
}

.best_recipe_time {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6); 
}

.best_recipes_card_info_tags_container {
  display: flex;
  flex-direction: row;
  gap: 13px; 
}

.best_recipe_tags {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}

.best_recipes_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  width: 185px;
  height: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  margin-top: 75px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #374151;
}